/* font gotham */
@import url('../fonts/font-face.css');

body {
	font-family: "Gotham";
	font-size: 100%;
}

:root {
  --purple: #A2177C;
  --blue-purple: #54368C;
  --blue: #3C2963;
  --grey: #585757;
  --soft-grey: #d3d3d3;
}

.btn-premia {
  background-color: var(--soft-grey);
  padding: 0.8rem 2rem;
  font-size: 1.2em;
  outline: none;
  border: none;
  border-radius: 0;
}

.btn-premia:hover {
	background-color: #A2177C;
	border: none;
}

/* NAV BAR */
.nav__bg--premia{
	background-color: #fff;
}

.nav__bg--premia .navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(55, 55, 55, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link__premia {
  font-weight: 500;
  color: var(--blue);
  font-size: 1.5rem;
}

.nav-link__premia:hover {
  color: var(--purple);
}

.navbar-brand {
	max-width: 50%;
}

.navbar-brand img{ 
	max-width: 50%;
  	height: auto;  
}

.color-premia{
  color: var(--purple);
}

/* TIMELINE */

#timeline{
	background-color: var(--purple);
	color: #fff;
}

/* CATEGORIAS */
#categories {
  color: var(--purple);
}

#categories li{
	list-style: none;
	padding: 0 0 2rem 3rem;
}

#categories li h2 {
	font-size: 1.5rem;
}

#categories li:first-child {
	background: url('../assets/cat-2.svg') no-repeat top left;
	background-size: 2.5rem;
}

#categories li:nth-child(2) {
	background: url('../assets/cat-1.svg') no-repeat top left;
	background-size: 2.5rem;
}

#categories li:nth-child(3) {
	background: url('../assets/cat-3.svg') no-repeat top left;
	background-size: 2.5rem;
}

#categories li:nth-child(4) {
	background: url('../assets/cat-4.svg') no-repeat top left;
	background-size: 2.5rem;
}

#categories li:nth-child(5) {
	background: url('../assets/cat-5.svg') no-repeat top left;
	background-size: 2.5rem;
}

#categories p {
	color: #666666;
}

#inscricoes {
  padding-bottom: 5rem;
	background-color: var(--blue-purple);
	color: #fff;
}

#inscricoes a {
  color: var(--blue);
}

#inscricoes a:hover {
  color: #fff;
}

#regulamento {
	color:#54368C ;
}

#regulamento a {
	color: #666666;
}

#FAQ {
background-color: #3C2963;
	color: #fff;
}


.ask {
	font-weight: bold;
	font-size: 1.2em;
}

/* Footer */

#main-footer h1 {
	color: var(--grey);
	font-size: 1.5rem;
	margin: 0;
}

#main-footer p{
	margin: 0;
}

#main-footer a {
	color: var(--purple);
	font-weight: 800;
}

#main-footer img {
	max-width: 200px;
}